.warga-page {
  .judul {
    margin-top: 50px;
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 0.01em;
    line-height: 52px;
    text-align: center;
    color: #7611c3;
    margin-bottom: 30px;
  }
  .section-data {
    overflow-x: scroll;
  }
}
